header{
    p{
        color: gold;
    }
    h1{
      color: red;
    }
}

p{
    color: lime;
}
a{
    color:brown;
}
.view1{
  display:inline-block ;
  text-align: center;
}
.view2{
  text-align: center;
}