<p>{{title}}</p>
<div class = "view2">

    <form class="range-form form-group">
        Start Date: <input type="date" class="form-control"  ng-model="range.startDate"/>
        End Date: <input type="date" class="form-control" ng-model="range.endDate"/>

        <input type="submit" class="form-control" ng-click="checkDate()" value="Check For Orders"/>
    </form>
    <p> Orders placed by {{name}}</p>
  <ul>
      <li ng-repeat="order in orders ">
          <p> Placed on {{order.order_date | date:'mediumDate'}}</p>
          <p> For the total amount of : {{order.amount | currency}}</p>
          <p> Order Shipped to {{name}}'s {{order.address_type}} </p>
          <p> @ address :  {{order.address_street}},<br/>{{order.address_city}}, {{order.address_state}} {{order.address_zip}}</p>
      </li>

  </ul>

</div>

